  
  body  {
    background-color:rgb(220, 220, 100);
}

   img { 
    height: 300px;
}

   h2 {
      text-decoration-line: underline;
   }
    
    h1 {
      text-decoration-line: underline;
   }
    

    h1:hover {
       color:red;
    }
   h3:hover {
       color:blue;
    }


  img {
   border-color:green;
  }
  body {
   padding-left:100px;
  }


